.formControl {
  position: relative;

  .error {
    position: absolute;
    bottom: 0px;
    left: 32px;
    transform: translateY(100%);
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
    color: #D84747;
  }
}


.menuItem {
  background: #E0DCD9;
  border-radius: 15px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2A2631;
  }

  .check {
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    border: 1px solid rgba(42, 38, 49, 0.15);
    border-radius: 50%;
    transition: 0.3s;

    &_selected {
      border: 5px solid #2A2631;
    }

  }

  &:hover {
    .check {
      border: 1px solid #2A2631;
    }

    .check_selected {
      border: 5px solid #2A2631;
    }
  }
}

.selected {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 140% !important;
  align-items: center !important;
  color: #F4F0EC !important;

  &_white {
    color: #2A2631 !important;
  }
}
