@import "../../../assets/scss/app";

.navLink {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #2A2631;

  &_active {
    font-weight: 600;
  }

  &_white {
    color: #F4F0EC;
  }
}
