@import "../../../assets/scss/app";

.textBlockSmall {
  @include container;
  padding-top: 64px;

  @include desktop {
    padding-top: 80px;
  }

  .inner {
    @include inner;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    .text {

      p {
        font-weight: 500;
        font-size: 48px;
        line-height: 120%;
        color: #2A2631;
        text-align: center;

        @include desktop {
          font-size: 58px;
          text-align: left;
          width: 600px;
        }

        img {
          height: 50px;
          width: auto;
          position: relative;
          top: 11px;

          @include desktop {
            height: 60px;
          }
        }
      }

    }

    .description {
      margin-top: 40px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #2A2631;

      @include desktop {
        margin-top: 0;
        width: 460px;
        font-size: 18px;
        text-align: left;
      }
    }

  }

}
