@import "../../../assets/scss/app";

.preloader {
  @include centerRow;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D7CFCA;

  @include desktop {
    background: #DFD2C9;
  }

  & > video {
    @include onlyDesktop();
    width: 200px;
    height: 200px;

    @include desktop {
      width: 300px;
      height: 300px;
    }
  }

  & > img {
    @include onlyMobile();
    width: 240px;
    height: 240px;

    @include desktop {
      width: 320px;
      height: 320px;
    }
  }
}
