@import "../../assets/scss/app";

.faqBlock {
  @include container;
  background: #2A2631;
  border-radius: 20px 20px 0 0;
  padding-top: 32px;

  @include desktop {
    padding-top: 136px;
  }

  .inner {
    @include inner;

    .header {

      @include desktop {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 24px;


        @include desktop {
          justify-content: flex-end;
          margin-top: 0;
          width: 350px;
        }

        .tag {
          margin: 4px;
        }
      }
    }

    .content {
      margin-top: 40px;

      @include desktop {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
      }

      .faq {

        @include desktop {
          width: 863px;
        }

        .item {
          &:not(:first-child) {
            margin-top: 8px;
          }
        }
      }

      .card {
        background: #D9D9D9;
        border-radius: 20px;
        margin-top: 24px;
        padding: 24px;

        @include desktop {
          margin-top: 0;
          width: 260px;
          box-sizing: border-box;
          padding: 32px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .cardTitle {
          font-weight: 500;
          font-size: 24px;
          line-height: 120%;
          text-align: center;
          color: #2A2631;

          @include desktop {
            text-align: left;
          }
        }

        .iconWrapper {
          @include centerColumn;
          width: 50px;
          height: 50px;
          background: #2A2631;
          border-radius: 53px;
          margin: 24px auto 0;

          @include desktop {
            margin: 0;
          }

          img {
            display: block;
            height: 30px;
            width: auto;
          }
        }

        .description {
          margin-top: 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #2A2631;

          @include desktop {
            margin-top: 20px;
            text-align: left;
          }
        }

        .btn {
          margin-top: 24px;

          @include desktop {
            margin-top: 32px;
          }
        }
      }
    }


  }
}
