@import "../../assets/scss/app";

.advantages {
  @include container;
  padding-top: 64px;

  @include desktop {
    padding-top: 100px;
  }

  .inner {
    @include inner;

    .header {
      @include desktop {
        display: flex;
        justify-content: space-between;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;

        @include desktop {
          margin-top: 0;
          width: 320px;
          align-items: flex-start;
        }

        .iconWrapper {
          @include centerColumn;
          width: 50px;
          height: 50px;
          border: 1px solid #CDC1BA;
          border-radius: 50%;

          img {
            display: block;
            height: 30px;
            width: auto;
          }
        }

        .text {
          margin-top: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #2A2631;

          @include desktop {
            margin-top: 12px;
            text-align: left;
          }
        }


      }

    }

    .cards {
      margin-top: 40px;

      @include desktop {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
      }

      .card {
        position: relative;

        &:not(:first-child) {
          margin-top: 21px;

          @include desktop {
            margin-top: 0;
          }
        }

        .border {
          position: absolute;
          z-index: 1;
          left: -5px;
          top: -5px;
          right: -5px;
          height: 200px;
          box-sizing: border-box;
          background: #2A2631;
          border-radius: 20px;
          padding: 5px 5px 0;
        }

        .innerCard {
          position: relative;
          z-index: 2;
          background: #F4F0EC;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 24px;


          @include desktop {
            align-items: flex-start;
            padding: 32px;
          }

          .preTitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #000;
            padding: 8px 16px;
            background: #F4F0EC;
            border: 1px solid rgba(42, 38, 49, 0.1);
            border-radius: 999px;
          }

          .title {
            margin-top: 24px;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #2A2631;

            @include desktop {
              margin-top: 20px;
              text-align: left;

            }
          }

          .iconWrapper {
            @include centerColumn;
            width: 50px;
            height: 50px;
            background: #2A2631;
            border-radius: 50%;
            margin-top: 40px;

            @include desktop {
              margin-top: 64px;
            }

            img {
              display: block;
              height: 30px;
              width: auto;
            }
          }

          .description {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: #2A2631;

            @include desktop {
              margin-top: 32px;
              text-align: left;
            }
          }

        }


      }
    }


  }
}
