@import "../../../assets/scss/app";

.buttonWithMenuWrapper {
  position: relative;
  margin-left: 28px;

  .buttonWithMenu {
    @include button;
    display: flex;
    align-items: center;
    position: relative;

    .label {
      width: 80px;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #2A2631;
      transition: 0.3s;

      &_white {
        color: #F4F0EC;
      }

    }

    .arrowWrapper {
      width: 22px;
      height: 22px;

      svg {
        width: 22px;
        height: 22px;
        transition: 0.3s;
        transform: rotate(180deg);
      }

      &_open {
        svg {
          transform: rotate(0deg);
        }
      }

      &_white {
        svg path {
          fill: #F4F0EC;
        }
      }
    }
  }

  .menu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: #2A2631;
    padding: 3px;
    border-radius: 15px;
    opacity: 0;

    &_top {
      bottom: auto;
      top: 0;
      transform: translateY(-100%);
    }

    .menuItem {
      cursor: pointer;
      width: 265px;
      height: 60px;
      background: #F4F0EC !important;
      border-radius: 11px !important;
      box-sizing: border-box;
      padding: 3px !important;
      display: flex;
      align-items: center;
      transition: 0.3s;

      &:hover {
        background: #DFD2C9 !important;
      }

      &:not(:first-child) {
        margin-top: 3px;
      }

      .iconWrapper {
        @include centerRow;
        width: 54px;
        height: 54px;
        background: #2A2631;
        border-radius: 12px;

        svg {
          width: 22px;
          height: 22px;
        }
      }

      .label {
        margin-left: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #2A2631;
      }


    }
  }

}









