@import "../../assets/scss/app";

.estimateForm {
  background: #2A2631;
  border-radius: 20px 20px 0 0;

  .header {
    @include container;
    padding-top: 32px;
    padding-bottom: 24px;

    @include desktop {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .inner {
      @include inner;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        flex-direction: row;
        justify-content: space-between;
      }

      .logo {
        display: block;
        width: 111px;
        height: 37px;
      }

      .contacts {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
          margin-top: 0;
          flex-direction: row;
        }
      }

      .contact {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;

        &:not(:first-child) {
          margin-top: 8px;

          @include desktop {
            margin-top: 0;
            margin-left: 40px;
          }
        }

        &:hover {
          @include desktop {
            .icon {
              background: #6F6B75;
              border: 1px solid #6F6B75;
            }
          }
        }

        .icon {
          @include centerColumn;
          width: 60px;
          height: 60px;
          border: 1px solid #3E3A44;
          box-sizing: border-box;
          border-radius: 100px;
          transition: 0.3s;

          svg path {
            stroke: #F4F0EC;
          }
        }

        .label {
          margin-left: 12px;
          font-weight: 500;
          font-size: 24px;
          line-height: 120%;
          color: #F4F0EC;

          @include desktop {
            margin-left: 24px;
            font-size: 38px;
          }
        }


      }
    }
  }

  .formBlock {
    @include container;
    background: url('/jpeg/B6_EstimateForm/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding-top: 24px;
    padding-bottom: 24px;

    @include desktop {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .inner {
      @include inner;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
      border-radius: 20px;

      @include desktop {
        display: flex;
      }

      .form {
        box-sizing: border-box;
        padding: 16px;

        @include desktop {
          border-radius: 20px 0 0 20px;
          padding: 32px;
          width: 700px;
        }

        .formTitle {
          font-weight: 500;
          font-size: 24px;
          line-height: 140%;
          text-align: center;
          color: #F4F0EC;

          @include desktop {
            text-align: left;
          }
        }

        .blocks {
          margin-top: 24px;
          display: grid;
          grid-template-rows: repeat(4, 1fr);
          grid-row-gap: 13px;

          @include desktop {
            margin-top: 32px;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 8px;
          }
        }

        .selectField {
          margin-top: 13px;
        }

        .textarea {
          height: 148px;
          margin-top: 13px;

          @include desktop {
            height: 180px;
            margin-top: 13px;
          }
        }

        .submitBtn {
          margin-top: 24px;

          @include desktop {
            margin-top: 20px;
          }
        }
      }

      .window {
        @include onlyDesktop;
        width: 450px;
        height: 506px;
        object-fit: cover;
        object-position: right;
        border-radius: 20px;
        margin-top: 15px;
        margin-right: 15px;
      }
    }
  }


}
