@import "../../assets/scss/app";

.burgerMenu {
  position: fixed;
  z-index: 888;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #DFD2C9;
  border-radius: 20px;
  transition: 0.3s;
  transform: translateX(101%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 24px 24px;
  box-sizing: border-box;

  &_open {
    transform: translateX(0%);
  }

  .links {
    @include absoluteCenter;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    border-bottom: 1px solid #CFC0B6;

    .menuLink {
      text-decoration: none;
      font-weight: 400;
      font-size: 32px;
      line-height: 140%;
      text-align: center;
      color: #2A2631;
      padding-top: 24px;
      padding-bottom: 24px;
      border-top: 1px solid #CFC0B6;
    }

    .switcher {
      padding-top: 24px;
      padding-bottom: 24px;
      border-top: 1px solid #CFC0B6;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_open {
        svg {
          transform: rotate(180deg);
        }
      }

      .switch {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-weight: 400;
          font-size: 32px;
          line-height: 140%;
          text-align: center;
          color: #2A2631;
        }

        svg {
          transition: 0.3s;
        }


      }

      .subMenu {
        p {
          margin-top: 16px;
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          text-align: center;
          color: #2A2631;
        }
      }
    }

  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .socialLinks {
      display: flex;

      & > div:nth-child(2) {
        margin-left: 20px;
      }
    }

    .startBtn {
      width: 148px;
    }
  }

}
