@import "../../../assets/scss/app";

.textareaField {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(11px);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 16px 32px;
  transition: 0.3s;

  @include desktop {
    padding: 20px 32px;
  }

  &_focus, &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &_error, &_error:hover {
    background: rgba(216, 71, 71, 0.1);
    border: 1px solid #D84747;
  }

  .textarea {
    position: relative;
    z-index: 2;
    background: none;
    //background: rgba(255,255,255,0.25);
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #F4F0EC;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: rgba(244, 240, 236, 0.6);
    }
  }

  .label {
    position: absolute;
    z-index: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #F4F0EC;
    top: 19px;
    transition: 0.3s;

    &_focus {
      top: 9px;
      font-size: 16px;
      color: rgba(244, 240, 236, 0.4);
    }
  }

  .error {
    position: absolute;
    bottom: 0px;
    left: 32px;
    transform: translateY(100%);
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
    color: #D84747;
  }
}
