@import "../../assets/scss/app";

.weWorkWithUs {
  padding-top: 64px;
  padding-bottom: 32px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;

  }

  .header {
    @include container;

    .inner {
      @include inner;
    }
  }

  .swiper {
    position: relative;
    margin-top: 140px;

    @include desktop {
      margin-top: 80px;
    }

    .slide {
      @include centerColumn;
      width: 148px;
      height: 148px;
      border-radius: 50%;
      border: 1px solid #CDC1BA;
      box-sizing: border-box;

      @include desktop {
        width: 200px;
        height: 200px;
      }
    }

    .arrowBlock {
      position: absolute;
      top: -17px;
      left: 50%;
      transform: translate(-50%, -100%);

      @include desktop {
        top: -32px;
      }

      .text {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #2A2631;
        position: absolute;
        top: -20px;
        right: -45px;
        transform: rotate(30deg);

        @include desktop {
          font-size: 16px;
        }
      }
    }
  }
}
